@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	background:white;
	font-family: "Montserrat", sans-serif;
  color:black;
  height:100%;
}

.logo{
	width:70px;
	padding:10px;
}

#stikalo{
  width:100%;
  text-align: right;
}

#neki{
  line-height: 30px;
}

.ikone{
	width:180px;
}

.naslov{
	width:500px;
}

.dropdown-content{
	top:60px !important;
	width:200px !important;
}

#karte{
	margin-top:100px;
	margin-bottom: 100px;
}

#modal1{
	height:70% !important;
}
